
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Hind', sans-serif;
    --main-color: #FFD600;
    --accent-color: white;
    --article-color: rgba(128, 128, 128, 0.932);
    scroll-behavior: smooth;
   }

   body {
       max-width: 980px;
    margin: auto;
    }
.logo {
    display: flex;
    margin: 30px 80px;
   
   
}
.social-media{
    display: flex;
    margin: 40px 0px 50px 20px;
    align-items: center;
    flex-direction: row;

}
header .menu{
    list-style-type: none;
    font-weight: bold;
}
header .menu a{
    text-decoration: none;
    color: var(--main-color);
    
}

@media (min-width:610px) {
    header nav{
        display: flex;
    }
    header .burger-icon{
        display: none;
    }
    header .menu{
        padding-left: 50px ;
        margin: 40px 100px 50px 130px;
        display: flex;
        justify-content: space-around;
        flex: 1;   
        align-items: center;
        flex-direction: row;
        list-style-type: none;
    }
    
}
header {
    background-image: url(../images/main-cover.png);
    background-size: cover;
    min-height: 600px;
}
  

h1 {
    display: flex;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 80px 20px 20px 40px;
    justify-content: left;
    text-align: left;
    
}
#short-text{
    display: flex;
    font-family: 'Hind', sans-serif;
    color: var(--accent-color);
    font-weight: bold;
    margin: 20px 20px 40px 40px;
}
.button-book a{
    background-color:#FFFFFF;
    padding: 14px;
    text-align: center;
    margin: 100px 10px 5px 40px;
    font-weight: bold;
    text-decoration:none;

}
.button-book #linkvideo{
    background-color:transparent;
    text-align: center;
    margin: 100px 10px 10px 5px;
    font-weight: bold;
    color: var(--accent-color);

}

.button-book #linkvideo:hover {
    color: var(--main-color);
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width:980px){
.intro{
    grid-template-columns: 1fr 1fr 1fr;

}
}
