@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Noto+Sans&display=swap'); * {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Hind', sans-serif;
    --main-color: #FFD600;
    --accent-color: white;
    --article-color: rgba(128, 128, 128, 0.932);
    scroll-behavior: smooth;
}

body {
    max-width: 960px;
    margin: auto;
}

.logo{
    display: flex;
    margin: 30px 50px;
}

.burger-icon {
    font-size: 2em;
}

.burger-icon:hover {
    cursor: context-menu;
}

#burger-checkbox {
    display: none;
}

.social-media {
    padding: 40px;
}

header .menu {
    list-style-type: none;
    font-weight: bold;
    display: none;
    flex-direction: column;
}
header .menu a:hover {
    text-decoration: underline;
    
}

header input:checked ~ .menu {
    display: flex;
}

header .menu a {
    text-decoration: none;
    color: var(--main-color);
}

@media (min-width: 610px) {
    header nav {
        display: flex;
    }

    header .burger-icon {
        display: none;
    }

    header .menu {
        padding-left: 50px ;
        margin: 40px 80px 50px 130px;
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
    }
}

header {
    background-image: url(../images/main-cover.png);
    background-size: cover;
    min-height: 600px;
}
header.time{
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
    margin: 20px 10px 50px 50px;
}

h1 {
    display: flex;
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 80px 20px 20px 40px;
    justify-content: left;
    text-align: left;
}

#short-text p{
    display: flex;
    justify-content: left;
    font-family: 'Hind', sans-serif;
    color: var(--accent-color);
    font-weight: bold;
    margin: 20px 20px 40px 10px;
}

.button-book a {
    background-color: #FFFFFF;
    padding: 14px;
    text-align: center;
    margin: 100px 10px 5px 40px;
    font-weight: bold;
    text-decoration: none;
}

.button-book #linkvideo {
    background-color: transparent;
    text-align: center;
    margin: 100px 10px 10px 5px;
    font-weight: bold;
    color: var(--accent-color);
}

.button-book #linkvideo:hover {
    color: var(--main-color);
    cursor: pointer;
    text-decoration: underline;
}

.intro {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,30%);
    border: none;
    justify-items: stretch;
}

.intro-item-title {
    margin: 50px 50px 10px 10px;
    display: flex;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
}
#short-text p {
    padding: 20px;
    justify-content: center;
    display: flex;
    margin: 5px 50px 20px 50px;
    color: var(--accent-color);
}
.intro-text {
    display: flex;
    margin: 10px 50px 50px 10px;
    font-weight: bold;
    color: var(--article-color);
}

.second-block, .fourth-block{
    background-image: url(../images/background-block.png);
    background-size: cover;
    min-height: 500px;
    
    
}
h2 {
    padding: 40px;
    font-size: 50px;
    justify-content: center;
    display: flex;
    text-align: center;
     color: var(--accent-color);
}
p{
    padding:5px 10px 20px 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    
    color:var(--accent-color)
}

.what-we-do{
    display: grid;
    grid-template-columns: repeat(6,6em 12em );
    padding: 30px 10px 30px 10px ;
}
.what-we-do img{
    border-radius: 50%;
   
}
.free-fly-img, .emotions-img, .touching-img{
    padding: 5px 5px 20px 5px;
    font-size: 15px;
    display: flex;
}
.what-we-do h3{
    color: var(--accent-color);
    font-size: 15px;
    display: flex;
    justify-content: center;

}
.what-we-do p{
    justify-content: space-around;
    font-size: 12px;
    padding: 5px 10px 20px 5px;
}
/*end class second block*/

.team-intro h2, .offered-services h2, .video h2{
    color: var(--article-color);
    font-size: 40px;
    padding-top: 50px;
}
.our-instructors h3, .services h3{
    padding-top: 20px;
    font-family: 'Hind', sans-serif;
}
.team-intro p, .offered-services p, .services p, .video p{
    color: var(--article-color);
    display: flex;
    justify-content: center;
    font-size: 20px;
   }

.our-instructors{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.team-intro article, h3{
    display:flex;
    justify-content: center;
    
}
.our-instructors p{
    color: var(--article-color);
    font-family: 'Hind', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}
.social-media-contact-instuctors{
    
    display: flex;
    justify-content: center;
    text-decoration:none;
    font-size: 10px;
 }
.services {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
   
}

.services img {
    width: 25%;
    padding: 10px 5px 10px 5px;
    
}
.prev, .next {
  cursor: pointer;
  
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
 
  color: var(--main-color);
}


#list-of-services {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    padding: 25px;
    padding-block-end: 100px;
    
           
}



#list-of-services  p{
    color: var(--article-color);
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 0px;
    margin-bottom: px;
}
#list-of-services .price{
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}
#list-of-services .services img{
    display: block;
    
    margin: 5px 50px 5px 50px;
    width: 20%;
}
    
 .services a{
     align-items: flex-end;
     text-align: center;
 }   


.fifth-block{
    background-image: url(../images/background-reguest-form.png);
    background-size: cover;
    min-height: 600px;
}
.font-request-form img{
    display: flex;
    justify-content: right;
    padding-top: 200px;
    font-size: 80px;
    
}
.request-form, #ordering h2 {
    display: flex;
    justify-content: left;
}
.video{
    background-image: url(../images/video-background.png);
    background-size: cover;
    min-height: 600px;
}
iframe{
padding: 50px;
}
